
html{
    overflow-x: hidden;
   
}


.banner{
    height:500px;
    background-size: center cover;
}

@media (min-width: 640px){
.banner{
    height:400px;
}
}

@media (min-width: 1024px){
    .banner{
        height:500px;
    }
}

  @media (min-width: 1280px){
    .banner{
        height:600px;
    }
} 
 @media (min-width: 1536px){
    .banner{
        height:700px;
    }
}  

.picker{
    background-color: white;
    width:340px;
    animation-name:picker;
    animation-duration: 0.5s;
 

    
    
}

@keyframes picker{
    0%{opacity: 0;}
    25%{opacity:79%;}
    100%{opacity:100%;}



    0%{position:relative; top: -40px;}
    100%{position:relative;  top:0px;}

}


@media screen and  (min-width: 640px) {
    .picker{
      
        width:570px;
    }
    
}
#nprogress .bar{
    background: #FE595E !important;
    height:3px !important
}

#nprogress .peg {
    box-shadow: 0 0 10px #FE595E, 0 0 5px #FE595E;
  }

  .nav{
      transition:all 0.6s ease-in-out;
  }

  .map{
      height:600px;
      width:100%;
     
  }